.chat {
    background: $white;
    padding: $gutter;    
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    &__wrapper {
      @include desktop {
        width: 65%;      
      }
    }
    &__element {
      &:not(:last-child) {
        border-bottom: 1px solid $bodyBackground;
      }
      padding: $gutter 0;      
      display: flex;
      align-items: center;
      &__image {
        max-width: 117px;
        img {
          max-width: 100%;
          border-radius: 50%;
        }
        
        &__noPortrait {
          margin: 0 15px;
          width: 87px;
          height: 87px;
          max-width: 100%;
          border-radius: 50%;
          background: $noPortraitColor;
        }
      }

      &__info {
        color: $black;
        &__meta {
          &__userName {
            font-size:15px;
            font-weight: bold;
          }

          &__time {
            font-size: 13px;
            color: $mediumDarkGray
          }
        }
        &__message {
          padding: ($gutter / 2) 0;
        }
      }
    }
    &__newMessage {
      border-top: 1px solid $bodyBackground;
      background: $white;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      padding: $gutter;
      &__form {
        display: flex;
        align-items: strech;      
      }
      .inputText {
        flex: 1;        
      }

      &--msgError {
        .error {
          display: block;
        }
        .inputText {
          border-color: $buttonRed;
        }
      }
      
    }    
}