body {
  background: $bodyBackground;
  padding:$gutter;
  font-family: Arial, Helvetica, sans-serif;
  * {
    &--noRightRadius {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--noLeftRadius {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

h1 {
  color: $h1;
  font-size: 24px;
  margin-top: ($gutter / 2);
  margin-bottom: ($gutter / 2);
}

h2 {
  color: $h1;
  font-size: 18px;
  margin-top: ($gutter / 2);
  margin-bottom: ($gutter / 2);
}

.btn {
  border: 0;
  font-weight: bold;
  border-radius: ( $borderRadius/2 );
  padding: ($gutter/2)
  &--green {
    background: $submitGreen;
    color: $white;
  }
}

.input {
  border:1px solid $bodyBackground;
  border-radius: ( $borderRadius/2 );
  padding: ($gutter/2)
}


.header-block {
  display: flex;
  align-items: center;
  color: $textColor;
  width: 100%;
  padding: $gutter;
  margin-top: ( $gutter * 2 );
  border-bottom: 1px solid $bodyBackground;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  background: $white;
  i {
    margin-right: $gutter;
  }
}