body {
  background: $bodyBackground;
  padding:$gutter;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: $h1;
  font-size: 24px;
  margin-top: ($gutter / 2);
  margin-bottom: ($gutter / 2);
}

h2 {
  color: $h1;
  font-size: 18px;
  margin-top: ($gutter / 2);
  margin-bottom: ($gutter / 2);
}

.btn {
  border: 0;
  font-weight: bold;
  border-radius: ( $borderRadius/2 );
  padding: $gutter;
  
  
  &--green {
    background: $submitGreen;
    color: $white;
    &:visited,
    &:active,
    &:hover {
      color: $white;
      background: darken($submitGreen, 5%);
    }
  }
}

.inputText {
  border:1px solid $bodyBackground;
  border-top-left-radius: ( $borderRadius/2 );
  border-bottom-left-radius: ( $borderRadius/2 );
  padding: $gutter;
  font-size: 14px;
  line-height: 14px;

  & + .btn  {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    font-size: 14px;
    line-height: 14px;
  }
}



.header-block {
  display: flex;
  align-items: center;
  color: $textColor;
  width: 100%;
  padding: $gutter;
  margin-top: ( $gutter * 2 );
  border-bottom: 1px solid $bodyBackground;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  background: $white;
  i {
    margin-right: $gutter;
  }
}